<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Car Finder Test</title>
    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/trNgGrid.min.css" rel="stylesheet" />
    <link href="../assets/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container centered" ng-app="jmmApp">
        <div class="row">
            <div class="col-md-12 centered" id="carlist" ng-controller="carFinderCntl as cf">
                <p>The Car Finder aplication can retrieve a photograph and recall info about a specific car in the database.</p>
                <select ng-options="y for y in cf.years" ng-model="cf.selected.year" ng-change="cf.getMakes()"> {{y}} </select>
                <select ng-options="mak for mak in cf.makes" ng-model="cf.selected.make" ng-change="cf.getModels()"> {{mak}} </select>
                <select ng-options="mod for mod in cf.models" ng-model="cf.selected.model" ng-change="cf.getTrims()"> {{mod}} </select>
                <select ng-options="t for t in cf.trims" ng-model="cf.selected.trim" ng-change="cf.getTrims()"> {{t}} </select>
                <br />
                <br />
                Year: {{cf.selected.year}} <br />
                Make: {{cf.selected.make}} <br />
                Model: {{cf.selected.model}} <br />
                Trim: {{cf.selected.trim}} <br />
                <table tr-ng-grid="" items="cf.cars" page-items="25">
                    <thead>
                        <tr>
                            <th field-name=id display-name="Record ID"></th>
                            <th field-name=model_year display-name="Model Year"></th>
                            <th field-name=make display-name="Make"></th>   
                            <th field-name=model_name display-name="Model Name"></th>
                            <th field-name=model_trim display-name="Model Trim"></th>
                            <th field-name=body_style display-name="Body Style"></th>
                            <th field-name=engine_cc display-name="Engine CCs"></th>
                            <th field-name=top_speed_kph display-name="Top Speed (kph)"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button ng-click="cf.getRecallandPic(gridItem.id)">view</button></td>
                        </tr>
                    </tbody>
                </table>
                <!--<table class="table table-condensed" ng-app="jmmApp">
                    <thead>
                        <tr>
                            <th>Record ID</th>
                            <th>Model Year</th>
                            <th>Make</th>
                            <th>Model Name</th>
                            <th>Model Trim</th>
                            <th>Body Style</th>
                            <th>Engine CCs</th>
                            <th>Top Speed (kph)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in cf.cars | limitTo: 25">
                            <td>{{c.id}}</td>
                            <td>{{c.model_year}}</td>
                            <td>{{c.make}}</td>
                            <td>{{c.model_name}}</td>
                            <td>{{c.model_trim}}</td>
                            <td>{{c.body_style}}</td>
                            <td>{{c.engine_cc}}</td>
                            <td>{{c.top_speed_kph}}</td>
                            <td><button button="submit" ng-click="cf.getRecallandPic(c.id)">view</button></td>
                        </tr>
                    </tbody>
                </table>-->
            </div>

        </div><!--/row-->
        <div class="row centered">
            <!--Car: {{cf.cars}}  this would dump all the selected to the screen w/out formatting -->

        </div>


    </div><!--/container-->

    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/trNgGrid.min.js"></script>
    <!--<script src="../Scripts/angular-route.min.js"></script>-->
    <script src="app.js"></script>
    <script src="carFinderCntl.js"></script>
    <script src="carSvc.js"></script>
</body>
</html>
