<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jmcconnell.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jmcconnell.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jmcconnell</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$jmcconnell</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=coderfoundry.cloudapp.net,55555;Initial Catalog=jmcconnell-carfinder;Integrated Security=False;User ID=jmcconnell;Password=MySQLDB16;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" Name="Data Source=coderfoundry.cloudapp.net,55555;Initial Catalog=jmcconnell-carfinder;Integrated Security=False;User ID=jmcconnell;Password=MySQLDB16;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CarFinder.Models.ApplicationDbContext, CarFinder" MigrationConfiguration="CarFinder.Migrations.Configuration, CarFinder" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Car" Order="2" Enabled="False">
          <Destination Path="Data Source=coderfoundry.cloudapp.net,55555;Initial Catalog=jmcconnell-carfinder;Integrated Security=False;User ID=jmcconnell;Password=MySQLDB16;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" Name="Data Source=coderfoundry.cloudapp.net,55555;Initial Catalog=jmcconnell-carfinder;Integrated Security=False;User ID=jmcconnell;Password=MySQLDB16;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=coderfoundry.cloudapp.net,55555;Initial Catalog=jmcconnell-carfinder;Integrated Security=False;User ID=jmcconnell;Password=MySQLDB16;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Car_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=coderfoundry.cloudapp.net,55555;initial catalog=jmcconnell-carfinder;integrated security=False;user id=jmcconnell;password=MySQLDB16;connect timeout=30;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Car-Web.config Connection String">
      <ParameterValue>data source=coderfoundry.cloudapp.net,55555;initial catalog=jmcconnell-carfinder;integrated security=False;user id=jmcconnell;password=MySQLDB16;multipleactiveresultsets=True;connect timeout=30;encrypt=True;trustservercertificate=True;application name=EntityFramework;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=coderfoundry.cloudapp.net,55555;Initial Catalog=jmcconnell-carfinder;Integrated Security=False;User ID=jmcconnell;Password=MySQLDB16;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>